---
export const prerender = false;

import { BENCHER_API_URL } from "astro:env/server";

import BaseLayout from "../../layouts/BaseLayout.astro";
import ConsoleRedirect from "../../components/console/redirects/ConsoleRedirect";

const title = "Bencher Console";
---

<BaseLayout title={title} description={title}>
  <div slot="navbar"></div>
  <ConsoleRedirect client:only="solid-js" apiUrl={BENCHER_API_URL} />
  <div slot="footer"></div>
</BaseLayout>