---
import AuthNavbar from "../../components/navbar/AuthNavbar";
import BaseLayout from "../BaseLayout.astro";

interface Props {
  title: string;
  description: string;
  heading: string;
}

const { title, description, heading } = Astro.props;
---

<BaseLayout
  title={title}
  titleFmt={(title) => `⚖️ ${title}`}
  description={description}
>
  <!-- Note that the AuthNavbar does *not* fill the slot `navbar`. It is a client-side override.  -->
  <AuthNavbar client:only="solid-js" />
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="content">
            <h1 class="title is-1">{heading}</h1>
            <hr />
            <slot />
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
