---
import AuthNavbar from "../../components/site/navbar/AuthNavbar";
import BaseLayout from "../BaseLayout.astro";

interface Props {
  title: string;
  heading: string;
}

const { title, heading } = Astro.props;
---

<BaseLayout title={title}>
  <!-- Note that the AuthNavbar does *not* fill the slot `navbar`. It is a client-side override.  -->
  <AuthNavbar client:only />
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="content">
            <h1 class="title">{heading}</h1>
            <hr />
            <slot />
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
