---
import BaseLayout from "../layouts/BaseLayout.astro";
import { BENCHER_CALENDLY_URL } from "../util/ext";
import AuthRedirect from "../components/auth/AuthRedirect";
import SelfHostedRedirect from "../components/site/SelfHostedRedirct";
import { BENCHER_DESCRIPTION, BENCHER_TITLE } from "../util/resource";
import HowItWorks from "../components/landing/HowItWorks.astro";
import Showcase from "../components/landing/Showcase.astro";
import Toolbox from "../components/landing/Toolbox.astro";
import PRComment from "../components/landing/PRComment.astro";
import Hosting from "../components/landing/Hosting.astro";
import PerfImg from "../components/landing/PerfImg.astro";
---

<BaseLayout
  title={BENCHER_TITLE}
  description={BENCHER_DESCRIPTION}
>
  <SelfHostedRedirect client:only="solid-js" path="/console" />
  <AuthRedirect client:only="solid-js" path="/console" />
  <section class="hero is-large">
    <div class="hero-body">
      <div class="columns is-centered is-vcentered">
        <div class="column is-three-quarters">
          <div class="content has-text-centered">
            <h1 class="title is-1">Catch Performance Regressions in CI</h1>
            <h2 class="subtitle is-4">
              Detect and prevent performance regressions before they
              make it to production with continuous benchmarking
            </h2>

            <div class="columns is-centered">
              <div class="column is-one-fourth"></div>

              <div class="column is-one-fourth">
                <a
                  class="button is-primary is-large is-responsive is-fullwidth"
                  href="/auth/signup"
                >
                  Start Now
                </a>
              </div>

              <div class="column is-one-fourth">
                <a
                  class="button is-large is-responsive is-fullwidth"
                  href={BENCHER_CALENDLY_URL}
                  target="_blank"
                  rel="noreferrer"
                >
                  Schedule a Demo
                </a>
              </div>

              <div class="column is-one-fourth"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <HowItWorks />

  <Showcase />

  <PRComment />

  <Toolbox />

  <Hosting />

  <PerfImg />
</BaseLayout>
