[package]
name = "bencher_billing"
version.workspace = true
authors.workspace = true
edition.workspace = true

[dependencies]
# Workspace
bencher_json = { workspace = true, features = ["full", "plus"] }
thiserror.workspace = true
tokio = { workspace = true, features = ["rt", "macros"] }
uuid.workspace = true
# Crate
async-stripe = { version = "0.25", features = ["runtime-tokio-hyper"] }

[dev-dependencies]
chrono.workspace = true
literally.workspace = true
pretty_assertions.workspace = true
rand.workspace = true
