[workspace]
members = ["services/api", "services/cli", "lib/*", "plus/*", "xtask"]

[workspace.package]
version = "0.3.5"
authors = ["Everett Pompeii <everett@bencher.dev>"]
edition = "2021"

[workspace.dependencies]
# lib
bencher_adapter = { path = "lib/bencher_adapter" }
bencher_client = { path = "lib/bencher_client" }
bencher_json = { path = "lib/bencher_json" }
bencher_plot = { path = "lib/bencher_plot" }
bencher_rbac = { path = "lib/bencher_rbac" }
bencher_valid = { path = "lib/bencher_valid" }
# plus
bencher_billing = { path = "plus/bencher_billing" }
bencher_license = { path = "plus/bencher_license" }
bencher_plus = { path = "plus/bencher_plus" }
# crates.io
anyhow = "1.0"
async-trait = "0.1"
camino = "1.1"
chrono = { version = "0.4", default-features = false }
clap = { version = "4.3", features = ["derive"] }
derive_more = "0.99"
jsonwebtoken = "8.2"
literally = "0.1"
once_cell = "1.16"
ordered-float = "3.4"
oso = "0.27"
pretty_assertions = "1.3"
rand = "0.8"
reqwest = { version = "0.11", default-features = false }
schemars = { version = "0.8", features = ["uuid1"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
slug = "0.1"
tabled = "0.12"
thiserror = "1.0"
tokio = "1.26"
typeshare = "1.0"
url = "2.3"
uuid = "1.3"
# github.com
progenitor-client = { git = "https://github.com/oxidecomputer/progenitor", rev = "a2e26c6789dd60605a6eacf083e5efdb470d2d80" }

# TODO use this to generate wasm builds
# https://github.com/bencherdev/bencher/issues/48
[profile.release-wasm]
inherits = "release"
opt-level = "s"
