---
import BaseLayout from "../BaseLayout.astro";
import DocsNavbar from "../../components/site/navbar/DocsNavbar";
import DocsMenu from "../../components/docs/DocsMenu.astro";
import type { Params } from "astro";

interface Props {
  params: Params;
  title: string;
  heading?: string;
}

const { params, title, heading } = Astro.props;
---

<BaseLayout title={title}>
  <DocsNavbar client:only params={params} />
  <div class="is-widescreen">
    <div class="columns is-reverse-mobile">
      <div class="columns">
        <div class="column is-narrow">
          <DocsMenu />
        </div>
      </div>
      <div class="column is-two-thirds">
        <section class="section">
          <div class="continer">
            {
              heading ? (
                <div class="content">
                  <h1 class="title">{heading}</h1>
                  <hr />
                  <slot />
                </div>
              ) : (
                <slot />
              )
            }
          </div>
        </section>
      </div>
    </div>
  </div>
</BaseLayout>
