[package]
name = "bencher_cli"
version.workspace = true
authors.workspace = true
edition.workspace = true

[features]
default = ["plus"]
plus = ["bencher_client/plus", "bencher_comment/plus", "bencher_json/plus"]

[dependencies]
# Workspace
bencher_adapter.workspace = true
bencher_client.workspace = true
bencher_comment.workspace = true
bencher_json = { workspace = true, features = ["lite", "table"] }
camino.workspace = true
chrono = { workspace = true, features = ["clock"] }
clap = { workspace = true, features = ["env"] }
literally.workspace = true
octocrab.workspace = true
progenitor-client.workspace = true
rand.workspace = true
reqwest = { workspace = true, features = ["json", "rustls-tls"] }
serde.workspace = true
serde_json.workspace = true
tabled.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["macros", "process", "rt", "signal"] }
url.workspace = true
# Crate
bollard = "0.17"
futures-util = "0.3"
gix = { version = "0.66", default-features = false, features = ["revision"] }

[lints]
workspace = true

[[bin]]
name = "bencher"
path = "src/main.rs"
