[package]
name = "xtask"
version.workspace = true
authors.workspace = true
edition.workspace = true
publish = false

[features]
default = ["plus"]
plus = [
    "bencher_json/plus",
    "clap/env",
    "dep:async-openai",
    "dep:bencher_bing_index",
    "dep:bencher_client",
    "dep:bencher_license",
    "dep:bencher_google_index",
    "dep:notify-rust",
]

[dependencies]
# Workspace
bencher_bing_index = { workspace = true, optional = true }
bencher_client = { workspace = true, optional = true }
bencher_json = { workspace = true, features = ["lite"] }
bencher_license = { workspace = true, optional = true }
bencher_google_index = { workspace = true, optional = true }
anyhow.workspace = true
camino.workspace = true
chrono.workspace = true
clap.workspace = true
reqwest = { workspace = true, features = ["default"] }
serde_json.workspace = true
tokio = { workspace = true, features = ["macros", "rt"] }
url.workspace = true
# Crate
async-openai = { version = "0.25", optional = true }
dotenvy = "0.15"
notify-rust = { version = "4.11", optional = true }

[lints]
workspace = true
