$old-orange: #ed6704;
$orange: #e26000;
$disabled: #fdb07e;

// Path to Bulma's sass folder
@use "../node_modules/bulma/sass" with ($primary: $orange, $link: $orange);

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

.columns.is-reverse-mobile {
  @include mobile {
    flex-direction: column-reverse;
    display: flex;
  }
}

// https://stackoverflow.com/questions/63262296/how-to-get-a-fixed-sidebar-in-bulma
.menu.is-sticky {
  position: sticky;
  display: inline-block;
  vertical-align: top;
  max-height: 100vh;
  overflow-y: auto;
  // width: 200px;
  top: 0;
  bottom: 0;
  padding: 1rem 3rem 0rem 2rem;
}

.content.is-sticky {
  display: inline-block;
}

// source: https://codepen.io/anon/pen/xagpgd
.has-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}