---
export const prerender = false;

import ProjectLayout from "../../../../layouts/console/ProjectLayout.astro";
import TablePanel from "../../../../components/console/table/TablePanel";
import { Resource } from "../../../../config/types";

const params = Astro.params;
const title = "Project Perf";
---

<ProjectLayout params={params} title={title}>
  <p>TODO Perf</p>
</ProjectLayout>
