[package]
name = "test_oci"
version.workspace = true
authors.workspace = true
edition.workspace = true
license-file.workspace = true
publish = false

[dependencies]
anyhow.workspace = true
clap.workspace = true

[lints]
workspace = true
