---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ConfirmForm from "../../components/auth/ConfirmForm";

const title = "Confirm Token";
---

<BaseLayout title={title}>
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-two-fifths">
          <h2 class="title">{title}</h2>
          <h3 class="subtitle">
            Please check your email for a one-time token. Either click the link
            or paste the token here.
          </h3>

          <ConfirmForm client:only />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
