---
export const prerender = false;

import { BENCHER_API_URL } from "astro:env/server";

import BaseLayout from "../../layouts/BaseLayout.astro";
import AuthGitHub from "../../components/auth/AuthGitHub";

const title = "Bencher GitHub App";
---

<BaseLayout title={title} description={title}>
  <div slot="navbar"></div>
  <AuthGitHub client:only="solid-js" apiUrl={BENCHER_API_URL} />
  <div slot="footer"></div>
</BaseLayout>