---
export const prerender = false;

import { BENCHER_API_URL } from "astro:env/server";

import BaseLayout from "../../layouts/BaseLayout.astro";

const title = "Bencher Google OAuth2";
---

<BaseLayout title={title} description={title}>
  <div slot="navbar"></div>
  <div slot="footer"></div>
</BaseLayout>