---
export const prerender = false;

import { BENCHER_API_URL } from "astro:env/server";

import BaseLayout from "../../layouts/BaseLayout.astro";
import AuthOAuth from "../../components/auth/AuthOAuth";

const title = "Bencher Google OAuth2";
const pathname = "/v0/auth/google";
---

<BaseLayout title={title} description={title}>
  <div slot="navbar"></div>
  <AuthOAuth client:only="solid-js" apiUrl={BENCHER_API_URL} pathname={pathname} />
  <div slot="footer"></div>
</BaseLayout>
