---
import AuthLayout from "../../layouts/auth/AuthLayout.astro";
import AuthForm from "../../components/auth/AuthForm";
import AuthRedirect from "../../components/auth/AuthRedirect";

const title = "Log in";
---

<AuthLayout title={title}>
  <AuthRedirect client:only path="/console/organizations" />

  <h2 class="title">{title}</h2>

  <AuthForm client:only newUser={false} />

  <hr />

  <p class="has-text-centered">
    <small>
      switch to <a href="/auth/signup">sign up</a>
    </small>
  </p>
</AuthLayout>
