---
import AuthLayout from "../../layouts/AuthLayout.astro";
import AuthForm from "../../components/auth/AuthForm";

const title = "Log in";
---

<AuthLayout title={title}>
  <h2 class="title">{title}</h2>

  <AuthForm client:only newUser={false} />

  <hr />

  <p class="has-text-centered">
    <small>
      switch to <a href="/auth/signup">sign up</a>
    </small>
  </p>
</AuthLayout>
