---
import AuthLayout from "../../layouts/auth/AuthLayout.astro";
import AuthForm from "../../components/auth/AuthForm";

const title = "Sign up";
---

<AuthLayout title={title}>
  <h2 class="title">{title}</h2>

  <AuthForm client:only newUser={true} />

  <hr />

  <p class="has-text-centered">
    <small>
      switch to <a href="/auth/login">log in</a>
    </small>
  </p>
</AuthLayout>
