---
export const prerender = false;

import BaseLayout from "../../../../layouts/BaseLayout.astro";
import ShortcutRedirect from "../../../../components/console/redirects/ShortcutRedirect";

const title = "Bencher Console";
---

<BaseLayout title={title} description={title}>
  <div slot="navbar"></div>
  <ShortcutRedirect client:only="solid-js" path="tokens/add" />
  <div slot="footer"></div>
</BaseLayout>