---
import BaseLayout from "../../layouts/BaseLayout.astro";
import AuthRedirect from "../../components/auth/AuthRedirect";
import SelfHostedRedirect from "../../components/site/SelfHostedRedirct";
import HowItWorks from "../../components/landing/HowItWorks.astro";
import Showcase from "../../components/landing/Showcase.astro";
import PRComment from "../../components/landing/PRComment.astro";
import Hosting from "../../components/landing/Hosting.astro";
import PerfImg from "../../components/landing/PerfImg.astro";
import CallToAction from "../../components/landing/CallToAction.astro";
---

<BaseLayout
  title="Track Rust Criterion benchmarks"
  description="Track Rust Criterion benchmarks over time with Bencher"
>
  <SelfHostedRedirect client:only="solid-js" path="/console" />
  <AuthRedirect client:only="solid-js" path="/console" />
  <section class="hero is-large">
    <div class="hero-body">
      <div class="columns is-centered is-vcentered">
        <div class="column is-three-quarters">
          <div class="content has-text-centered">
            <h1 class="title is-1">Track your Criterion benchmarks</h1>
            <h2 class="subtitle is-4" style="margin-top: 1rem;">
                🦀 Track the results of <code>cargo bench</code> over time with Bencher
            </h2>

            <div class="columns is-centered">
              <div class="column is-half">
                <a
                  class="button is-primary is-large is-responsive is-fullwidth"
                  href="/auth/signup"
                >
                  Start Now
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <HowItWorks />

  <Showcase />

  <section class="section" style="margin-top: 4rem;">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <h2 class="title is-2">Track your Criterion benchmarks</h2>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column">
          <div class="content">
            <p>
                Track the results of your Criterion benchmarks over time.
                Monitor, query, and graph the results using the Bencher web console based on the source branch and testbed.
            </p>
          </div>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-7">
          <div class="box" style="border: 1rem solid #ed6704;">
            <pre><code>$ bencher run --adapter rust_criterion "cargo bench"

Adapter::Magic (JSON)
time:   [3.4623 µs 3.4632 µs 3.4641 µs]
Found 4 outliers among 100 measurements (4.00%)
3 (3.00%) high mild
1 (1.00%) high severe

Adapter::Json
time:   [3.4793 µs 3.4796 µs 3.4800 µs]
Found 4 outliers among 100 measurements (4.00%)
1 (1.00%) low mild
2 (2.00%) high mild
1 (1.00%) high severe

Adapter::Magic (Rust)
time:   [14.721 µs 14.726 µs 14.730 µs]
Found 1 outliers among 100 measurements (1.00%)
1 (1.00%) high mild

Adapter::Rust
time:   [14.881 µs 14.884 µs 14.887 µs]
Found 1 outliers among 100 measurements (1.00%)
1 (1.00%) high mild

Bencher New Report:
&lcub;
  "branch": "main",
  "end_time": "2024-03-10T20:34:00.981095Z",
  "hash": "a7d081e048b77c5d4bfc0fb66f48cbf05cb49464",
  "results": [ ... ],
  "settings": &lcub;&rcub;,
  "start_time": "2024-03-10T20:33:57.722930Z",
  "testbed": "localhost"
&rcub;</code></pre>
          </div>
        </div>
      </div>
    </div>
  </section>

  <PRComment />

  <Hosting />

  <PerfImg />

  <CallToAction />
</BaseLayout>
