---
import BaseLayout from "../../layouts/BaseLayout.astro";
import AuthRedirect from "../../components/auth/AuthRedirect";
import SelfHostedRedirect from "../../components/site/SelfHostedRedirct";
import HowItWorks from "../../components/landing/HowItWorks.astro";
import Showcase from "../../components/landing/Showcase.astro";
import PRComment from "../../components/landing/PRComment.astro";
import GettingStarted from "../../components/landing/GettingStarted.astro";
import Hosting from "../../components/landing/Hosting.astro";
import PerfImg from "../../components/landing/PerfImg.astro";
import CallToAction from "../../components/landing/CallToAction.astro";
---

<BaseLayout
  title="Track Rust Iai benchmarks"
  description="Track Rust Iai benchmarks over time with Bencher"
>
  <SelfHostedRedirect client:only="solid-js" path="/console" />
  <AuthRedirect client:only="solid-js" path="/console" />
  <section class="hero is-large">
    <div class="hero-body">
      <div class="columns is-centered is-vcentered">
        <div class="column is-three-quarters">
          <div class="content has-text-centered">
            <h1 class="title is-1">Track your Iai benchmarks</h1>
            <h2 class="subtitle is-4" style="margin-top: 1rem;">
                🦀 Track the results of <code>cargo bench</code> over time with Bencher
            </h2>

            <div class="columns is-centered">
              <div class="column is-one-fourth"></div>

              <div class="column is-one-fourth">
                <a
                  class="button is-primary is-large is-responsive is-fullwidth"
                  href="/auth/signup"
                >
                  Start Now
                </a>
              </div>

              <div class="column is-one-fourth">
                <a
                  class="button is-large is-responsive is-fullwidth"
                  href="/learn/track-in-ci/rust/iai/"
                >
                  Learn More
                </a>
              </div>

              <div class="column is-one-fourth"></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <HowItWorks />

  <Showcase />

  <section class="section" style="margin-top: 4rem;">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <h2 class="title is-2">Track your Iai benchmarks</h2>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column">
          <div class="content">
            <p>
                Track the results of your Iai benchmarks over time.
                Monitor, query, and graph the results using the Bencher web console based on the source branch and testbed.
            </p>
          </div>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-7">
          <div class="box" style="border: 1rem solid #ed6704;">
            <pre><code>$ bencher run --adapter rust_iai "cargo bench"

Running target/release/deps/test_regular_bench-8b173c29ce041afa

bench_fibonacci_short
  Instructions:                1735
  L1 Accesses:                 2364
  L2 Accesses:                    1
  RAM Accesses:                   1
  Estimated Cycles:            2404

bench_fibonacci_long
  Instructions:            26214735
  L1 Accesses:             35638623
  L2 Accesses:                    2
  RAM Accesses:                   1
  Estimated Cycles:        35638668
</code></pre>
          </div>
        </div>
      </div>
    </div>
  </section>

  <PRComment />

  <GettingStarted />

  <Hosting />

  <PerfImg />

  <CallToAction />
</BaseLayout>
