---
export const prerender = true;

import { IS_BENCHER_CLOUD } from "astro:env/client";

import BaseLayout from "../../layouts/BaseLayout.astro";
import AuthRedirect from "../../components/auth/AuthRedirect";
import SelfHostedRedirect from "../../components/site/SelfHostedRedirct";
import HowItWorks from "../../components/landing/HowItWorks.astro";
import Showcase from "../../components/landing/Showcase.astro";
import PRComment from "../../components/landing/PRComment.astro";
import GettingStarted from "../../components/landing/GettingStarted.astro";
import Hosting from "../../components/landing/Hosting.astro";
import PerfImg from "../../components/landing/PerfImg.astro";
import CallToAction from "../../components/landing/CallToAction.astro";
---

<BaseLayout
  title="Track Rust benchmarks"
  description="Track Rust benchmarks over time with Bencher"
>
  <SelfHostedRedirect client:only="solid-js" isBencherCloud={IS_BENCHER_CLOUD} path="/console" />
  <AuthRedirect client:only="solid-js" path="/console" />
  <section class="hero is-large">
    <div class="hero-body">
      <div class="columns is-centered is-vcentered">
        <div class="column is-three-quarters">
          <div class="content has-text-centered">
            <h1 class="title is-1">Track your Rust benchmarks</h1>
            <h2 class="subtitle is-4" style="margin-top: 1rem;">
                🦀 Track the results of <code>cargo bench</code> over time with Bencher
            </h2>

            <div class="columns is-centered">
              <div class="column is-one-fourth"></div>

              <div class="column is-one-fourth">
                <a
                  class="button is-primary is-large is-responsive is-fullwidth"
                  href="/auth/signup"
                >
                  Start Now
                </a>
              </div>

              <div class="column is-one-fourth">
                <a
                  class="button is-large is-responsive is-fullwidth"
                  href="/learn/track-in-ci/rust/libtest-bench/"
                >
                  Learn More
                </a>
              </div>

              <div class="column is-one-fourth"></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <HowItWorks />

  <Showcase />

  <section class="section" style="margin-top: 4rem;">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <h2 class="title is-2">Track your <code>cargo bench</code> benchmarks</h2>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column">
          <div class="content">
            <p>
                Track the results of your <code>cargo bench</code> benchmarks over time.
                Monitor, query, and graph the results using the Bencher web console based on the source branch and testbed.
            </p>
          </div>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-7">
          <div class="box" style="border: 1rem solid #ed6704;">
            <pre><code>$ bencher run --adapter rust_bench "cargo +nightly bench"

running 5 tests
test tests::benchmark ... bench:             3,161 ns/iter (+/- 975)
test tests::other_benchmark ... bench:       4,502 ns/iter (+/- 975)
test tests::one_digit ... bench:                 1 μs/iter (+/- 1)
test tests::two_digit ... bench:                22 ms/iter (+/- 22)
test tests::three_digit ... bench:             333 s/iter (+/- 333)

test result: ok. 0 passed; 0 failed; 0 ignored; 5 measured; 0 filtered out; finished in 0.11s
</code></pre>
          </div>
        </div>
      </div>
    </div>
  </section>

  <PRComment />

  <GettingStarted />

  <Hosting />

  <PerfImg />

  <CallToAction />
</BaseLayout>
