---
import "../styles/styles.scss";
import Navbar from "../components/site/navbar/Navbar";
import Footer from "../components/site/Footer";
import { fmtPageTitle } from "../util/resource";
// import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;

const pageTitle = fmtPageTitle(title);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#ffffff" />
    <meta name="description" content="Catch Performance Regressions in CI" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <!-- https://devicon.dev/ -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
    />
    <!-- font awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
    ></script>
    <!-- <ViewTransitions /> -->
  </head>
  <body>
    <slot name="navbar">
      <Navbar client:load />
    </slot>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
