---
import BaseLayout from "./BaseLayout.astro";
import ConsoleMenu from "../components/console/ConsoleMenu";
import ConsoleNavbar from "../components/site/navbar/ConsoleNavbar";

interface Props {
  path: string;
  title: string;
  menu: any;
}

const { path, title } = Astro.props;
---

<BaseLayout title={title}>
  <ConsoleNavbar client:only slot="navbar" path={path} />
  <div class="is-widescreen">
    <div class="columns is-reverse-mobile">
      <div class="columns">
        <div class="column is-narrow">
          <ConsoleMenu client:only />
        </div>
      </div>
      <div class="column">
        <section class="section">
          <div class="continer">
            <slot />
          </div>
        </section>
      </div>
    </div>
  </div>
  <!-- <section class="section">
    <div class="container">
      <div class="columns is-reverse-mobile">
        <div class="column is-narrow">
          <ConsoleMenu client:only />
        </div>
        <div class="column is-10">
          <slot />
        </div>
      </div>
    </div>
  </section> -->
</BaseLayout>
