[alias]
xtask = "run --manifest-path ./xtask/Cargo.toml --"
# Tasks
bin-version = "run --manifest-path ./tasks/bin_version/Cargo.toml --"
gen-installer = "run --manifest-path ./tasks/gen_installer/Cargo.toml --"
gen-pkg = "run --manifest-path ./tasks/gen_pkg/Cargo.toml --"
gen-notes = "run --manifest-path ./tasks/gen_notes/Cargo.toml --"
gen-spec = "run --manifest-path ./tasks/gen_types/Cargo.toml -- spec"
gen-ts = "run --manifest-path ./tasks/gen_types/Cargo.toml -- ts"
gen-types = "run --manifest-path ./tasks/gen_types/Cargo.toml -- types"
test-api = "run --manifest-path ./tasks/test_api/Cargo.toml --"
test-netlify = "run --manifest-path ./tasks/test_netlify/Cargo.toml --"
test-oci = "run --manifest-path ./tasks/test_api/Cargo.toml -- oci"

[target.x86_64-unknown-linux-gnu]
linker = "clang"
rustflags = ["-C", "link-arg=-fuse-ld=mold"]

[target.aarch64-unknown-linux-gnu]
linker = "clang"
rustflags = ["-C", "link-arg=-fuse-ld=mold"]

# https://blog.rust-lang.org/2025/11/20/switching-to-v0-mangling-on-nightly/
[build]
rustflags = ["-Csymbol-mangling-version=v0"]
