---
export const prerender = true;

import { getEnOnlyCollection } from "../../i18n/utils";
import LegalLayout from "../../layouts/legal/LegalLayout.astro";
import Collection from "../../util/collection.ts";

const pages = await getEnOnlyCollection(Collection.legal);
---

<LegalLayout
  title="Legal"
  description="Legal terms and conditions for Bencher software and services"
  heading="Bencher Legal"
  published="2023-10-18T10:28:00Z"
  modified="2023-12-10T09:03:00Z"
>
  <ul style="margin-bottom: 24rem;">
    {
      pages.map((page) => (
        <li>
          <a href={`/legal/${page.id}`}>{page.data.heading}</a>
        </li>
      ))
    }
  </ul>
</LegalLayout>
