---
import { getCollection } from "astro:content";
import LegalLayout from "../../layouts/legal/LegalLayout.astro";
import Collection from "../../util/collection.ts"

const pages = await getCollection(Collection.legal);
pages.sort((a, b) => a.data.sortOrder - b.data.sortOrder);
---

<LegalLayout
  title="Legal"
  description="Legal terms and conditions for Bencher software and services"
  heading="Bencher Legal"
>
  <ul>
    {
      pages.map((page) => (
        <li>
          <a href={`/legal/${page.slug}`}>{page.data.heading}</a>
        </li>
      ))
    }
  </ul>
</LegalLayout>
