---
import { THEME_TOGGLE_ID, ThemeId } from "./theme";
import ThemeScript from "./ThemeScript.astro";

// https://docs.astro.build/en/tutorial/6-islands/2/
---

<button id={THEME_TOGGLE_ID} class="button" title="Toggle dark mode">
  <span id={ThemeId.Light} class="icon has-text-grey">
    <i class="fas fa-sun" />
  </span>
  <span id={ThemeId.Dark} class="icon has-text-grey">
    <i class="far fa-moon" />
  </span>
</button>

<ThemeScript />
