---
import { THEME_TOGGLE_ID, ThemeId } from "./theme";

// https://docs.astro.build/en/tutorial/6-islands/2/
---

<button id={THEME_TOGGLE_ID} class="button" title="Toggle dark mode">
  <span id={ThemeId.Light} class="icon has-text-primary">
    <i class="fas fa-sun" />
  </span>
  <span id={ThemeId.Dark} class="icon has-text-light">
    <i class="far fa-moon" />
  </span>
</button>

<script>
  import {Theme, THEME_TOGGLE_ID, ThemeId, getTheme, storeTheme} from "./theme";

  const themeToggle = document.getElementById(THEME_TOGGLE_ID);
  const sunIcon = document.getElementById(ThemeId.Light);
  const moonIcon = document.getElementById(ThemeId.Dark);

  const setLightTheme = () => {
    themeToggle ? themeToggle.title = "Toggle dark mode" : null;
    sunIcon?.classList.remove("has-text-dark");
    sunIcon?.classList.add("has-text-primary");
    moonIcon?.classList.remove("has-text-primary");
    moonIcon?.classList.add("has-text-light");
  }
  const setDarkTheme = () => {
    themeToggle ? themeToggle.title = "Toggle light mode" : null;
    sunIcon?.classList.remove("has-text-primary");
    sunIcon?.classList.add("has-text-dark");
    moonIcon?.classList.remove("has-text-light");
    moonIcon?.classList.add("has-text-primary");
  }
  const setTheme = (theme: Theme) => {
    switch (theme) {
      case Theme.Light:
        setLightTheme();
        break;
      case Theme.Dark:
        setDarkTheme();
        break;
    }
    document.documentElement.setAttribute("data-theme", theme);
  }

  const initTheme = () => setTheme(getTheme());

  const toggleTheme = () => {
    const theme = getTheme();
    switch (theme) {
      case Theme.Light:
        setTheme(Theme.Dark);
        storeTheme(Theme.Dark);
        break;
      case Theme.Dark:
        setTheme(Theme.Light);
        storeTheme(Theme.Light);
        break;
    }
  }

  initTheme();
  themeToggle?.addEventListener("click", toggleTheme);
</script>