---
import BaseLayout from "../BaseLayout.astro";
import Notification from "../../components/site/Notification";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description} canonical={Astro.url.pathname}>
  <Notification client:only="solid-js" />
  <section class="section" style="margin-bottom:32rem;">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-two-fifths">
          <slot />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
