---
import BaseLayout from "../BaseLayout.astro";
import Notification from "../../components/site/Notification";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <Notification client:only="solid-js" />
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-two-fifths">
          <slot />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
