---
---

<table class="table is-bordered is-fullwidth">
    <tbody>
        <tr>
            <td>Bencher Cloud</td>
            <td><a href="https://api.bencher.dev">https://api.bencher.dev</a></td>
        </tr>
        <tr>
            <td>Bencher Self-Hosted</td>
            <td><a href="http://localhost:6610">http://localhost:6610</a></td>
        </tr>
    </tbody>
</table>
