[package]
name = "schema"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
reports = { path = "../reports" }
schemars = "0.8.8"
serde_json = "1.0.81"
