[package]
name = "bencher_runner"
version.workspace = true
authors.workspace = true
edition.workspace = true
license-file.workspace = true
publish = false

[features]
default = []
plus = [
    "dep:bencher_oci",
    "dep:bencher_rootfs",
    "dep:camino",
    "dep:serde",
    "dep:serde_json",
    "dep:tempfile",
    "dep:thiserror",
    "dep:tungstenite",
    "dep:ureq",
    "dep:url",
    "dep:uuid",
    "bencher_oci/plus",
    "bencher_oci/registry",
    "bencher_rootfs/plus",
]

[dependencies]
bencher_oci = { workspace = true, optional = true }
bencher_rootfs = { workspace = true, optional = true }
camino = { workspace = true, optional = true }
serde = { workspace = true, optional = true }
serde_json = { workspace = true, optional = true }
tempfile = { workspace = true, optional = true }
thiserror = { workspace = true, optional = true }
tungstenite = { workspace = true, optional = true }
ureq = { workspace = true, optional = true, features = ["json"] }
url = { workspace = true, optional = true }
uuid = { workspace = true, features = ["v4", "serde"], optional = true }

# Linux-only dependencies
[target.'cfg(target_os = "linux")'.dependencies]
libc = { workspace = true }
nix = { workspace = true, features = ["sched", "signal"] }

[build-dependencies]
flate2 = { workspace = true }
sha2 = { workspace = true }
tar = { workspace = true }
ureq = { workspace = true }

[lints]
workspace = true
