[package]
name = "gen_installer"
version.workspace = true
authors.workspace = true
edition.workspace = true
license-file.workspace = true
publish = false

[dependencies]
anyhow.workspace = true
clap.workspace = true
minijinja = { workspace = true, features = ["loader"] }
newline-converter.workspace = true
serde.workspace = true

[lints]
workspace = true
