---
export const prerender = false;

import { getEntry, render } from "astro:content";

import { BENCHER_API_URL } from "astro:env/server";
import { IS_BENCHER_CLOUD } from "astro:env/client";

import BaseLayout from "../../../layouts/BaseLayout.astro";
import OnboardRun from "../../../components/console/onboard/OnboardRun";
import OnboardStepsFallback from "../../../components/console/onboard/OnboardStepsFallback";
import { OnboardStep } from "../../../components/console/onboard/OnboardStepsInner";
import Collection from "../../../util/collection";

const collection = Collection.onboard;
const cloudPage = await getEntry(collection, "en/install-cli");
const selfHostedPage = await getEntry(collection, "en/install-cli-version");
const { Content } = IS_BENCHER_CLOUD
	? await render(cloudPage)
	: await render(selfHostedPage);
---

<BaseLayout
  title="Track Your Benchmarks"
  description="Track your benchmarks with Bencher"
>
<div slot="navbar" />

<OnboardRun client:only="solid-js" apiUrl={BENCHER_API_URL} isBencherCloud={IS_BENCHER_CLOUD}>
  <div slot="fallback">
    <OnboardStepsFallback step={OnboardStep.RUN} />
    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="content has-text-centered">
              <h1 class="title is-1">Track your benchmarks</h1>
              <h2 class="subtitle is-4">
                Install the Bencher CLI and run your first benchmarks.
              </h2>
              <figure class="frame">
                <pre data-language="plaintext">
                </pre>
                <button
                  class="button is-fullwidth"
                  title="Copy command to clipboard"
                >
                  <span class="icon-text">
                    <span class="icon">
                      <i class="far fa-copy" />
                    </span>
                    <span>Copy to Clipboard</span>
                  </span>
                </button>
              </figure>
              <br />
              <br />
              <a
                class="button is-primary is-fullwidth"
              >
                <span class="icon-text">
                  <span>Next Step</span>
                  <span class="icon">
                    <i class="fas fa-chevron-right" />
                  </span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</OnboardRun>

<section class="section">
  <div class="continer">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="content">
          <Content />
        </div>
      </div>
    </div>
  </div>
</section>

<div slot="footer" />
</BaseLayout>