---
---

<section class="section" style="margin-bottom: 6rem;">
  <div id="bare-metal" class="container" >
    <div class="columns is-centered">
      <div class="column is-fullwidth" style="background-color: #ed6704;">
        <div class="box">
          <div class="content has-text-centered">
            <h2 class="title is-2">
              Track your benchmarks in CI
            </h2>
            <p>
              Have you ever had a performance regression impact your users?
              Bencher could have prevented that from happening.
              Bencher allows you to detect and prevent performance regressions <i>before</i> they make it to production
              with continuous benchmarking.
            </p>
          </div>
          <div class="columns is-centered">
            <div class="column">
              <div class="content has-text-centered">
                <a
                  class="button is-primary is-large is-responsive"
                  href="/auth/signup"
                >
                  Try Bencher for Free
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>