---
import InstallCli from "../os/InstallCli.astro";
---

<section class="section" style="margin-top: 4rem;">
	<div class="content has-text-centered">
		<h2 class="title is-1">Getting started with Bencher is simple</h2>
		<br />
		<br />
		<div class="columns is-centered is-vcentered">
			<div class="column is-7">
				<InstallCli centered={true} />
			</div>
		</div>
		<br />
		<div class="columns is-centered">
			<div class="column is-one-third">
				<a
					class="button is-primary is-large is-responsive is-fullwidth"
					href="/docs/tutorial/quick-start/"
				>
					Learn More
				</a>
			</div>
		</div>
	</div>
</section>
