---
---

<section class="section" style="margin-top: 8rem">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <h2 class="title is-1">Hosting</h2>
        </div>
      </div>
      <br />
      <br />
      <div class="columns is-centered">
        <div class="column">
          <div class="columns">
            <div class="column">
              <div class="content has-text-centered">
                <h3 class="subtitle is-2">Self-Hosted</h3>
                <br />
                <br />
                <br />
                <span class="icon has-text-primary">
                  <i class="fas fa-server fa-10x" />
                </span>
              </div>
              <div class="content">
                <p>
                  Run Bencher on-prem or in your own cloud. Bencher can be
                  deployed on a standalone server, in a Docker container, or
                  as part of a Kubernetes cluster.
                </p>
                <br />
              </div>
              <a class="button is-fullwidth" href="/docs/tutorial/docker">
                Learn More
              </a>
            </div>
          </div>
        </div>

        <div class="is-divider-vertical" data-content="OR"></div>

        <div class="column">
          <div class="columns">
            <div class="column">
              <div class="content has-text-centered">
                <h3 class="subtitle is-2">Bencher Cloud</h3>
                <br />
                <br />
                <br />
                <span class="icon has-text-primary">
                  <i class="fas fa-cloud fa-10x" />
                </span>
              </div>
              <div class="content">
                <p>
                  It's {new Date().getFullYear()}, who wants to manage yet
                  another service‽ Let us take care of that for you. All of
                  the same great features with none of the hassle.
                </p>
                <br />
              </div>
              <a class="button is-fullwidth" href="/pricing"> Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>