---
---

<div class="columns">
  <div class="column is-7">
    <section class="section " style="background-color: #ed6704;">
      <div class="container">
        <div class="columns is-centered">
          <div class="column" style="margin-bottom: 1rem;">
              <iframe
              title="Bencher Continuous Benchmarking Example"
              width="100%"
              height="780px"
              src="https://bencher.dev/perf/game/embed?embed_title=&embed_header=false&embed_key=false&reports_per_page=4&reports_page=1&branches_per_page=8&branches_page=1&testbeds_per_page=8&testbeds_page=1&benchmarks_per_page=8&benchmarks_page=1&clear=true&tab=benchmarks&measures=52507e04-ffd9-4021-b141-7d4b9f1e9194&branches=3a27b3ce-225c-4076-af7c-75adbc34ef9a&testbeds=bc05ed88-74c1-430d-b96a-5394fdd18bb0&benchmarks=077449e5-5b45-4c00-bdfb-3a277413180d&upper_boundary=true&start_time=1697414400000">
              </iframe>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="column" >
    <div class="columns is-centered is-mobile">
      <div class="column is-10" style="margin-bottom: 1rem;">
        <h2 class="title is-2" >How It Works</h2>
        <br />
        <div class="content has-text-centered">
        <span class="icon has-text-primary">
            <i class="fas fa-tachometer-alt fa-5x" aria-hidden="true"></i>
        </span>
        <h3 class="title is-4">Run your benchmarks</h3>
        </div>
        <div class="content">
        <p>
            Run your benchmarks locally or in CI using your favorite
            benchmarking tools. The <code>bencher</code> CLI simply
            wraps your existing benchmark harness and stores its
            results.
        </p>
        <br />
        </div>
        <br />
        <div class="content has-text-centered">
        <span class="icon has-text-primary">
            <i class="fas fa-chart-line fa-5x" aria-hidden="true"></i>
        </span>
        <h3 class="title is-4">Track your benchmarks</h3>
        </div>
        <div class="content">
        <p>
            Track the results of your benchmarks over time. Monitor,
            query, and graph the results using the Bencher web console
            based on the source branch and testbed.
        </p>
        </div>
        <br />
        <div class="content has-text-centered">
        <span class="icon has-text-primary">
            <i class="fas fa-bell fa-5x" aria-hidden="true"></i>
        </span>
        <h3 class="title is-4">Catch performance regressions</h3>
        </div>
        <div class="content">
        <p>
            Catch performance regressions in CI. Bencher uses state of
            the art, customizable analytics to detect performance
            regressions before they make it to production.
        </p>
        </div>
      </div>
    </div>
  </div>
</div>
