---
import { Image } from "astro:assets";
---

<section class="section" style="margin-top: 8rem; margin-bottom: 8rem;">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <h2 class="title is-1">Share Your Benchmarks</h2>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column">
          <div class="content">
            <p>
              All public projects have their own{" "}
              <a href="/explore">perf page</a>. These results can easily be
              shared with an auto-updating perf image. Perfect for your
              README!
            </p>
          </div>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column">
          <div class="content has-text-centered">
            <a
              href="/perf/bencher?key=true&measures=4358146b-b647-4869-9d24-bd22bb0c49b5&tab=benchmarks&testbeds=0d991aac-b241-493a-8b0f-8d41419455d2&branches=619d15ed-0fbd-4ccb-86cb-fddf3124da29&benchmarks=3525f177-fc8f-4a92-bd2f-dda7c4e15699%2C1db23e93-f909-40aa-bf42-838cc7ae05f5&start_time=1674950400000"
            >
              <Image
                style="border: 1rem solid #ed6704;"
                src="https://api.bencher.dev/v0/projects/bencher/perf/img?branches=619d15ed-0fbd-4ccb-86cb-fddf3124da29&testbeds=0d991aac-b241-493a-8b0f-8d41419455d2&benchmarks=3525f177-fc8f-4a92-bd2f-dda7c4e15699%2C1db23e93-f909-40aa-bf42-838cc7ae05f5&measures=4358146b-b647-4869-9d24-bd22bb0c49b5&start_time=1674950400000&title=Benchmark+Adapter+Comparison"
                title="Benchmark Adapter Comparison"
                alt="Benchmark Adapter Comparison for Bencher - Bencher"
                width="1024"
                height="768"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
</section>