---
---

<section class="section" style="margin-top: 4rem;">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <h2 class="title is-1">Catch Performance Regressions in CI</h2>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column">
          <div class="content">
            <p>
              Catch performance regressions in CI and leave results as a comment on the pull requests.
              Fail the build! Keep your codebase fast and your users happy.
            </p>
          </div>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-7">
          <div class="box" style="border: 1rem solid #ed6704;">
            <h2 class="title is-2"><a href="https://bencher.dev"><img src="https://bencher.dev/favicon.svg" width="32" height="32" alt="ðŸ°" /></a>Bencher</h2><table><tr><td>Report</td><td>Tue, December  5, 2023 at 00:16:53 UTC</td></tr><tr><td>Project</td><td><a href="https://bencher.dev/perf/bencher">Bencher</a></td></tr><tr><td>Branch</td><td>254/merge</td></tr><tr><td>Testbed</td><td>ubuntu-latest</td></tr></table><table><tr><th>Benchmark</th><th>Latency</th><th>Latency Results<br/>nanoseconds (ns) | (Î”%)</th><th>Latency Upper Boundary<br/>nanoseconds (ns) | (%)</th></tr><tr><td>Adapter::Json</td><td>ðŸš¨ (<a href="https://bencher.dev/perf/bencher?branches=bdcbbf3c-9073-4006-b194-b11aff2f94c1&testbeds=0d991aac-b241-493a-8b0f-8d41419455d2&benchmarks=e93b3d71-8499-4fae-bb7c-4e540b775714&measures=4358146b-b647-4869-9d24-bd22bb0c49b5&start_time=1699143413000&end_time=1701735487000&upper_boundary=true">view plot</a> | <a href="https://bencher.dev/perf/bencher/alerts/91ee27a7-2aee-41fe-b037-80b786f26cd5">view alert</a>)</td><td>3445.600 (+1.52%)</td><td>3362.079 (102.48%)</td></tr><tr><td>Adapter::Magic (JSON)</td><td>âœ… (<a href="https://bencher.dev/perf/bencher?branches=bdcbbf3c-9073-4006-b194-b11aff2f94c1&testbeds=0d991aac-b241-493a-8b0f-8d41419455d2&benchmarks=3bfd5887-83ec-4e62-8690-02855a38fbc9&measures=4358146b-b647-4869-9d24-bd22bb0c49b5&start_time=1699143413000&end_time=1701735487000&upper_boundary=true">view plot</a>)</td><td>3431.400 (+0.69%)</td><td>3596.950 (95.40%)</td></tr><tr><td>Adapter::Magic (Rust)</td><td>âœ… (<a href="https://bencher.dev/perf/bencher?branches=bdcbbf3c-9073-4006-b194-b11aff2f94c1&testbeds=0d991aac-b241-493a-8b0f-8d41419455d2&benchmarks=3525f177-fc8f-4a92-bd2f-dda7c4e15699&measures=4358146b-b647-4869-9d24-bd22bb0c49b5&start_time=1699143413000&end_time=1701735487000&upper_boundary=true">view plot</a>)</td><td>22095.000 (-0.83%)</td><td>24732.801 (89.33%)</td></tr><tr><td>Adapter::Rust</td><td>âœ… (<a href="https://bencher.dev/perf/bencher?branches=bdcbbf3c-9073-4006-b194-b11aff2f94c1&testbeds=0d991aac-b241-493a-8b0f-8d41419455d2&benchmarks=5655ed2a-3e45-4622-bdbd-39cdd9837af8&measures=4358146b-b647-4869-9d24-bd22bb0c49b5&start_time=1699143413000&end_time=1701735487000&upper_boundary=true">view plot</a>)</td><td>2305.700 (-2.76%)</td><td>2500.499 (92.21%)</td></tr><tr><td>Adapter::RustBench</td><td>âœ… (<a href="https://bencher.dev/perf/bencher?branches=bdcbbf3c-9073-4006-b194-b11aff2f94c1&testbeds=0d991aac-b241-493a-8b0f-8d41419455d2&benchmarks=1db23e93-f909-40aa-bf42-838cc7ae05f5&measures=4358146b-b647-4869-9d24-bd22bb0c49b5&start_time=1699143413000&end_time=1701735487000&upper_boundary=true">view plot</a>)</td><td>2299.900 (-3.11%)</td><td>2503.419 (91.87%)</td></tr></table><br/><small><a href="https://bencher.dev">Bencher - Continuous Benchmarking</a></small><br/><small><a href="https://bencher.dev/perf/bencher">View Public Perf Page</a></small><br/><small><a href="https://bencher.dev/docs/">Docs</a> | <a href="https://bencher.dev/repo/">Repo</a> | <a href="https://bencher.dev/chat/">Chat</a> | <a href="https://bencher.dev/help/">Help</a></small>
          </div>
        </div>
      </div>
    </div>
</section>