---
interface Project {
	name: string;
	logo: string;
	slug: string;
}

const PROJECTS: Project[][] = [
	[
		{
			name: "Rustls",
			logo: "https://s3.amazonaws.com/public.bencher.dev/case-study/rustls.png",
			slug: "rustls-821705769",
		},
		{
			name: "Diesel",
			logo: "https://s3.amazonaws.com/public.bencher.dev/case-study/diesel.svg",
			slug: "diesel",
		},

		{
			name: "Poolifier",
			logo: "https://s3.amazonaws.com/public.bencher.dev/case-study/poolifier.png",
			slug: "poolifier",
		},
	],
	[
		{
			name: "Hydra Database",
			logo: "https://s3.amazonaws.com/public.bencher.dev/case-study/hydra-db.svg",
			slug: "hydra-postgres",
		},
		{
			name: "GreptimeDB",
			logo: "https://s3.amazonaws.com/public.bencher.dev/case-study/greptimedb.svg",
			slug: "greptimedb",
		},
		{
			name: "Disney+ Hotstar",
			logo: "https://s3.amazonaws.com/public.bencher.dev/case-study/disney-hotstar.png",
			slug: "hotstar",
		},
	],
	[
		{
			name: "K Framework",
			logo: "https://s3.amazonaws.com/public.bencher.dev/case-study/k-framework.png",
			slug: "k-framework",
		},
		{
			name: "raft",
			logo: "https://s3.amazonaws.com/public.bencher.dev/case-study/raft.png",
			slug: "raft",
		},
		{
			name: "Stratum",
			logo: "https://s3.amazonaws.com/public.bencher.dev/case-study/stratum.svg",
			slug: "stratum-v2-sri",
		},
	],
];
---

<section class="section" style="margin-top: 4rem;">
	<div class="content has-text-centered">
		<h2 class="title is-2">You are in good company</h2>
		<br />
		<br />
		<div class="columns is-centered is-vcentered">
			<div class="column">
				{PROJECTS.map((projects) => (
					<div class="columns is-centered is-vcentered is-mobile">
						{projects.map((project) => (
						<div class="column has-text-centered is-2-tablet">
							<a href={`https://bencher.dev/perf/${project.slug}`}>
								<img width="88%" src={project.logo} alt={project.name} />
							</a>
						</div>
						))}
					</div>
				))}
			</div>
		</div>
	</div>
</section>

