---
import InstallCli from "../os/InstallCli.astro";

const LANGUAGES: string[][] = [
	["devicon-cplusplus-plain", "devicon-python-plain"],
	["devicon-java-plain", "devicon-javascript-plain"],
	["devicon-ruby-plain", "devicon-csharp-line"],
	["devicon-go-original-wordmark", "devicon-rust-plain"],
];
---

<section class="section" style="margin-top: 4rem;">
	<div class="content has-text-centered">
		<h2 class="title is-1">Use Your Favorite Benchmark Harness</h2>
		<br />
		<br />
		<div class="columns is-centered is-vcentered">
			{
				LANGUAGES.map(([left_icon, right_icon]) => (
					<div class="column is-one-quarter">
						<div class="columns is-mobile">
							<div class="column is-half">
								<span class="icon has-text-primary is-large">
									<i class={`${left_icon} fa-5x`} />
								</span>
							</div>
							<br />
							<div class="column is-half">
								<span class="icon has-text-primary is-large">
									<i class={`${right_icon} fa-5x`} />
								</span>
							</div>
						</div>
					</div>
				))
			}
		</div>
		<br />
		<div class="columns is-centered is-vcentered">
			<div class="column is-7">
				<InstallCli centered={true} />
			</div>
		</div>
		<br />
		<div class="columns is-centered">
			<div class="column is-one-third">
				<a
					class="button is-primary is-large is-responsive is-fullwidth"
					href="/docs/tutorial/quick-start/"
				>
					Learn More
				</a>
			</div>
		</div>
	</div>
</section>
