---
import { Code } from "astro-expressive-code/components";
import ClientPlatform from "./ClientPlatform";
import { Platform } from "../../util/platform";

const LANGUAGES: string[][] = [
	["devicon-cplusplus-line", "devicon-python-plain"],
	["devicon-java-plain", "devicon-javascript-plain"],
	["devicon-ruby-plain", "devicon-csharp-line"],
	["devicon-go-original-wordmark", "devicon-rust-plain"],
];
---

<section class="section" style="margin-top: 4rem;">
	<div class="content has-text-centered">
		<h2 class="title is-1">Use Your Favorite Benchmark Harness</h2>
		<br />
		<br />
		<div class="columns is-centered is-vcentered">
			{LANGUAGES.map(([left_icon, right_icon]) => (
				<div class="column is-one-quarter">
					<div class="columns is-mobile">
						<div class="column is-half">
							<span class="icon has-text-primary is-large">
								<i class={`${left_icon} fa-5x`} />
							</span>
						</div>
						<br />
						<div class="column is-half">
							<span class="icon has-text-primary is-large">
								<i class={`${right_icon} fa-5x`} />
							</span>
						</div>
					</div>
				</div>
			))}
		</div>
		<br />
		<div class="columns is-centered is-vcentered">
			<div class="column is-7">
				<ClientPlatform client:only="solid-js" platform={Platform.Unix}>
					<Code lang="bash" code="curl --proto '=https' --tlsv1.2 -sSfL https://bencher.dev/download/install-cli.sh | sh" />
				</ClientPlatform>
				<ClientPlatform client:only="solid-js" platform={Platform.Windows}>
					<Code lang="powershell" code="irm https://bencher.dev/download/install-cli.ps1 | iex" />
				</ClientPlatform>
			</div>
		</div>
		<br />
		<div class="columns is-centered">
			<div class="column is-one-third">
				<a class="button is-primary is-large is-responsive is-fullwidth" href="/docs/tutorial/quick-start/">
					Learn More
				</a>
			</div>
		</div>
	</div>
</section>
