@charset "utf-8";

// Variables
// TableFlow Green
// https://www.colorhexa.com/009933
$tfgreen: #009933 !default;
$tflightgreen: #00ff66 !default;
$tfred: #990033 !default;

// Overrides
$primary: $tfgreen !default;

$link: $tfgreen !default;
$link-visited: $tflightgreen !default;
$link-focus-border: $tfgreen !default;

$input-focus-border-color: $tfgreen !default;
$input-focus-box-shadow-color: $tfgreen !default;

$breadcrumb-item-color: $tfgreen !default;

$badge-z-index: 5 !default;

@import "~bulma/bulma.sass";
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/progress.sass";
@import "~bulma/sass/layout/section.sass";
@import "~bulma/sass/layout/hero.sass";
@import "~bulma/sass/grid/columns.sass";
@import "~bulma/sass/components/message.sass";
@import "~bulma/sass/components/breadcrumb.sass";
@import "~bulma/sass/components/menu.sass";
@import "~bulma/sass/components/pagination.sass";