---
import Pagination, { PaginationSize } from "../../site/Pagination";
import FallbackTable from "./FallbackTable";
---

<div>
    <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <h3 class="title is-3">&nbsp;</h3>
                </div>
            </div>
    </nav>
    <FallbackTable />
    <section class="section">
      <div class="container">
        <Pagination
            size={PaginationSize.REGULAR}
            data_len={() => 0}
            per_page={() => 8}
            page={() => 1}
            total_count={() => 0}
            handlePage={(_page) => {}}
        />
      </div>
    </section>
  </div>