# build output
dist/

# generated types
.astro/
.netlify/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS-specific files
.DS_Store

# Copied public assets
public/install-cli.sh
public/install-cli.ps1
