name: Build

on:
  workflow_call:
    inputs:
      mold-version:
        type: string
        default: "2.34.1"
      wasm-pack-version:
        type: string
        default: "0.12.1"
      zig-version:
        type: string
        default: "0.13.0"
      zig-build-version:
        type: string
        default: "0.19.3"
      glibc-version:
        type: string
        default: "2.17"
      build-docker:
        type: boolean
        default: true
      build-cli:
        type: boolean
        default: true
    outputs:
      wasm-artifact-name:
        description: "WASM artifact name"
        value: "bencher-valid-pkg"

env:
  CARGO_TERM_COLOR: always
  GITHUB_REGISTRY: ghcr.io
  API_DOCKER_IMAGE: bencher-api
  CONSOLE_DOCKER_IMAGE: bencher-console
  CLI_BIN_NAME: bencher
  WASM_BENCHER_VALID: bencher-valid-pkg
  LITESTREAM_VERSION: "0.3.13"
  LITESTREAM_ARCH: amd64
  CACHE_NAME: ${{ github.ref_name }}

jobs:
  build_github_action:
    name: Build GitHub Action
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - name: Install Dependencies
        working-directory: ./services/action
        run: npm install --include=dev
      - name: Build
        working-directory: ./services/action
        run: npm run build
      - name: Check for changes
        continue-on-error: ${{ !startsWith(github.ref, 'refs/tags/') }}
        run: git diff --exit-code

  build_wasm:
    name: Build `bencher_valid` WASM
    runs-on: ubuntu-22.04
    env:
      WASM_PACK_BUILD: "wasm-pack build --target web --no-default-features --features wasm,plus"
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-rust
        with:
          cache-key: wasm
          mold-version: ${{ inputs.mold-version }}
      - name: Install `wasm-pack`
        run: cargo install wasm-pack --version ${{ inputs.wasm-pack-version }} --locked --force
      - name: WASM pack `bencher_valid`
        working-directory: ./lib/bencher_valid
        run: |
          $WASM_PACK_BUILD || \
          $WASM_PACK_BUILD || \
          $WASM_PACK_BUILD || \
          $WASM_PACK_BUILD || \
          $WASM_PACK_BUILD
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.WASM_BENCHER_VALID }}
          path: ./lib/bencher_valid/pkg
          if-no-files-found: error

  test_wasm:
    name: Test `bencher_valid` WASM
    runs-on: ubuntu-22.04
    needs: build_wasm
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-rust
        with:
          cache-key: wasm
          mold-version: ${{ inputs.mold-version }}
      - name: cargo test `bencher_valid` WASM
        working-directory: ./lib/bencher_valid
        run: cargo test --no-default-features --features plus,wasm

  vitest:
    name: vitest
    runs-on: ubuntu-22.04
    needs: build_wasm
    steps:
      - uses: actions/checkout@v6
      - name: Download `bencher_valid` Artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.WASM_BENCHER_VALID }}
          path: ./lib/bencher_valid/pkg
      - name: npx vitest
        working-directory: ./services/console
        run: |
          npm install --include=dev
          npx vitest run

  # Console build (for PRs and devel/cloud)
  build_console:
    name: Build Console UI
    runs-on: ubuntu-22.04
    needs: build_wasm
    if: ${{ !startsWith(github.ref, 'refs/tags/') }}
    steps:
      - uses: actions/checkout@v6
      - name: Download `bencher_valid` Artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.WASM_BENCHER_VALID }}
          path: ./lib/bencher_valid/pkg
      - name: Build Console UI
        working-directory: ./services/console
        run: npm run netlify
      - name: Test Links
        if: github.ref == 'refs/heads/cloud' || github.ref == 'refs/heads/devel'
        timeout-minutes: 3
        continue-on-error: true
        uses: lycheeverse/lychee-action@v2.3.0
        with:
          args: --config ./services/console/lychee.toml --github-token ${{ secrets.GITHUB_TOKEN }} --user-agent "${{ secrets.LYCHEE_USER_AGENT }}" ./services/console/dist

  build_api_docker:
    name: Build API Docker
    runs-on: ubuntu-22.04
    if: ${{ inputs.build-docker }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.GITHUB_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build API Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./services/api/Dockerfile
          tags: ${{ env.API_DOCKER_IMAGE }}
          build-args: |
            MOLD_VERSION=${{ inputs.mold-version }}
            LITESTREAM_VERSION=${{ env.LITESTREAM_VERSION }}
            LITESTREAM_ARCH=${{ env.LITESTREAM_ARCH }}
          cache-from: type=registry,ref=${{ env.GITHUB_REGISTRY }}/${{ github.repository_owner }}/${{ env.API_DOCKER_IMAGE }}:cache-${{ env.CACHE_NAME }}
          cache-to: type=registry,ref=${{ env.GITHUB_REGISTRY }}/${{ github.repository_owner }}/${{ env.API_DOCKER_IMAGE }}:cache-${{ env.CACHE_NAME }},mode=max
          load: true
          push: false
      - name: Save API Docker Image
        run: |
          docker save ${{ env.API_DOCKER_IMAGE }} \
          | gzip > ${{ env.API_DOCKER_IMAGE }}.tar.gz
      - name: Upload API Docker Image Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.API_DOCKER_IMAGE }}.tar.gz
          path: ./${{ env.API_DOCKER_IMAGE }}.tar.gz
          if-no-files-found: error

  build_console_docker:
    name: Build Console Docker
    runs-on: ubuntu-22.04
    if: ${{ inputs.build-docker }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.GITHUB_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Console Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./services/console/Dockerfile
          tags: ${{ env.CONSOLE_DOCKER_IMAGE }}
          cache-from: type=registry,ref=${{ env.GITHUB_REGISTRY }}/${{ github.repository_owner }}/${{ env.CONSOLE_DOCKER_IMAGE }}:cache-${{ env.CACHE_NAME }}
          cache-to: type=registry,ref=${{ env.GITHUB_REGISTRY }}/${{ github.repository_owner }}/${{ env.CONSOLE_DOCKER_IMAGE }}:cache-${{ env.CACHE_NAME }},mode=max
          load: true
          push: false
      - name: Save Console Docker Image
        run: |
          docker save ${{ env.CONSOLE_DOCKER_IMAGE }} \
          | gzip > ${{ env.CONSOLE_DOCKER_IMAGE }}.tar.gz
      - name: Upload Console Docker Image Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.CONSOLE_DOCKER_IMAGE }}.tar.gz
          path: ./${{ env.CONSOLE_DOCKER_IMAGE }}.tar.gz
          if-no-files-found: error

  build_cli:
    name: Build CLI
    if: ${{ inputs.build-cli }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - build: linux-x86-64
            os: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
          - build: linux-arm-64
            os: ubuntu-22.04
            target: aarch64-unknown-linux-gnu
          - build: macos-x86-64
            os: macos-14
            target: x86_64-apple-darwin
          - build: macos-arm-64
            os: macos-14
            target: aarch64-apple-darwin
          - build: windows-x86-64
            os: windows-2022
            target: x86_64-pc-windows-msvc
          - build: windows-arm-64
            os: windows-2022
            target: aarch64-pc-windows-msvc
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Install Rust target
        run: rustup target add ${{ matrix.target }}
      - uses: mlugg/setup-zig@v1
        if: startsWith(matrix.build, 'linux')
        with:
          version: ${{ inputs.zig-version }}
      - name: Install zigbuild
        if: startsWith(matrix.build, 'linux')
        run: cargo install --version ${{ inputs.zig-build-version }} --locked --force cargo-zigbuild
      - name: cargo zigbuild Linux CLI
        if: startsWith(matrix.build, 'linux')
        working-directory: ./services/cli
        run: cargo zigbuild --profile release-small --target ${{ matrix.target }}.${{ inputs.glibc-version }}
      - name: cargo build macOS CLI
        if: startsWith(matrix.build, 'macos')
        working-directory: ./services/cli
        run: cargo build --profile release-small --target ${{ matrix.target }}
      - name: cargo build Windows CLI
        if: startsWith(matrix.build, 'windows')
        working-directory: ./services/cli
        run: cargo build --profile release-small --target ${{ matrix.target }}
      - name: Rename Unix CLI bin
        if: (!startsWith(matrix.build, 'windows'))
        run: mv ./target/${{ matrix.target }}/release-small/${{ env.CLI_BIN_NAME }} ${{ env.CLI_BIN_NAME }}-${{ github.ref_name }}-${{ matrix.build }}
      - name: Rename Windows CLI bin
        if: startsWith(matrix.build, 'windows')
        run: mv ./target/${{ matrix.target }}/release-small/${{ env.CLI_BIN_NAME }}.exe ${{ env.CLI_BIN_NAME }}-${{ github.ref_name }}-${{ matrix.build }}.exe
      - name: Upload Unix CLI Artifact
        if: (!startsWith(matrix.build, 'windows'))
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.CLI_BIN_NAME }}-${{ github.ref_name }}-${{ matrix.build }}
          path: ${{ env.CLI_BIN_NAME }}-${{ github.ref_name }}-${{ matrix.build }}
          if-no-files-found: error
      - name: Upload Windows CLI Artifact
        if: startsWith(matrix.build, 'windows')
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.CLI_BIN_NAME }}-${{ github.ref_name }}-${{ matrix.build }}.exe
          path: ${{ env.CLI_BIN_NAME }}-${{ github.ref_name }}-${{ matrix.build }}.exe
          if-no-files-found: error

  package_cli:
    name: Package CLI
    if: ${{ inputs.build-cli }}
    needs: build_cli
    strategy:
      fail-fast: false
      matrix:
        include:
          - build: linux-x86-64
            os: ubuntu-22.04
            arch: amd64
          - build: linux-arm-64
            os: ubuntu-22.04
            arch: arm64
    runs-on: ${{ matrix.os }}
    env:
      CLI_DEB_DIR: deb
    steps:
      - uses: actions/checkout@v6
      - name: Download CLI Artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.CLI_BIN_NAME }}-${{ github.ref_name }}-${{ matrix.build }}
      - uses: rui314/setup-mold@v1
        with:
          mold-version: ${{ inputs.mold-version }}
      - name: Build .deb package
        run: cargo gen-pkg deb --dir ${{ env.CLI_DEB_DIR }} --arch ${{ matrix.arch }} ${{ env.CLI_BIN_NAME }}-${{ github.ref_name }}-${{ matrix.build }}
      - name: Test install .deb package
        if: matrix.build == 'linux-x86-64'
        run: sudo dpkg -i ${{ env.CLI_DEB_DIR }}/${{ env.CLI_BIN_NAME }}-${{ github.ref_name }}-${{ matrix.build }}.deb
      - name: Sanity test .deb package installation
        if: matrix.build == 'linux-x86-64'
        run: |
          bencher --version
          bencher mock
          man bencher
      - name: Upload .deb Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.CLI_BIN_NAME }}-${{ github.ref_name }}-${{ matrix.build }}.deb
          path: ${{ env.CLI_DEB_DIR }}/${{ env.CLI_BIN_NAME }}-${{ github.ref_name }}-${{ matrix.build }}.deb
          if-no-files-found: error
