name: CLI

on:
  workflow_call:
    inputs:
      bencher-version:
        type: string
        required: true
      mold-version:
        type: string
        required: true
      zig-version:
        type: string
        required: true
      zig-build-version:
        type: string
        required: true
      glibc-version:
        type: string
        required: true
      check-cli:
        type: boolean
        required: true
      build-cli:
        type: boolean
        required: true
    secrets:
      BENCHER_API_TOKEN:
        required: true

env:
  CARGO_TERM_COLOR: always
  CLI_BIN_NAME: bencher

jobs:
  pr_noop:
    name: CLI PR No-op
    if: ${{ github.event_name == 'pull_request' && !inputs.check-cli && !inputs.build-cli }}
    runs-on: ubuntu-22.04
    steps:
      - name: No-op
        run: "true"

  action_main:
    name: Action `main`
    if: github.ref == 'refs/heads/devel' || github.ref == 'refs/heads/cloud'
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-14, windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: bencherdev/bencher@main
      - name: Run Bencher CLI
        run: bencher run --project bencher --token ${{ secrets.BENCHER_API_TOKEN }} --dry-run "bencher mock"

  action_devel:
    name: Action `devel`
    if: github.ref == 'refs/heads/devel'
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-14, windows-2022]
    runs-on: ${{ matrix.os }}
    # This is expected to fail when tagging a new release
    continue-on-error: ${{ startsWith(github.ref, 'refs/tags/') }}
    steps:
      - uses: bencherdev/bencher@devel
      - name: Run Bencher CLI
        run: bencher run --project bencher --token ${{ secrets.BENCHER_API_TOKEN }} --dry-run "bencher mock"

  script_cloud:
    name: Script Cloud
    if: github.ref == 'refs/heads/devel' || github.ref == 'refs/heads/cloud'
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-14, windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Unix CLI Download Install Script
        if: matrix.os != 'windows-2022'
        run: curl --proto '=https' --tlsv1.2 -sSfL https://bencher.dev/download/install-cli.sh | sh
      - name: Windows CLI Download Install Script
        if: matrix.os == 'windows-2022'
        run: powershell -c "irm https://bencher.dev/download/install-cli.ps1 | iex"
      - name: Run Bencher CLI
        run: bencher run --project bencher --token ${{ secrets.BENCHER_API_TOKEN }} --dry-run "bencher mock"

  script_gen:
    name: Script Gen
    if: ${{ inputs.check-cli }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-14, windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Unix CLI Install Script
        if: matrix.os != 'windows-2022'
        run: cat services/cli/templates/output/install-cli.sh | sh
      - name: Windows CLI Install Script
        if: matrix.os == 'windows-2022'
        run: powershell -c "gc -Raw services/cli/templates/output/install-cli.ps1 | iex"
      - name: Run Bencher CLI
        run: bencher run --project bencher --token ${{ secrets.BENCHER_API_TOKEN }} --dry-run "bencher mock"

  script_gen_version:
    name: Script Gen Version
    if: ${{ inputs.check-cli }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-14, windows-2022]
    runs-on: ${{ matrix.os }}
    # This is expected to fail when tagging a new release
    continue-on-error: ${{ startsWith(github.ref, 'refs/tags/') }}
    steps:
      - uses: actions/checkout@v6
      - name: Unix CLI Install Script Version
        if: matrix.os != 'windows-2022'
        run: export BENCHER_VERSION=${{ inputs.bencher-version }}; cat services/cli/templates/output/install-cli.sh | sh
      - name: Windows CLI Install Script Version
        if: matrix.os == 'windows-2022'
        run: $env:BENCHER_VERSION="${{ inputs.bencher-version }}"; powershell -c "gc -Raw services/cli/templates/output/install-cli.ps1 | iex"
      - name: Run Bencher CLI
        run: bencher run --project bencher --token ${{ secrets.BENCHER_API_TOKEN }} --dry-run "bencher mock"

  cargo_main:
    name: Cargo `main`
    if: ${{ github.ref == 'refs/heads/main' && inputs.check-cli }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-14, windows-2022]
    runs-on: ${{ matrix.os }}
    # This is expected to fail when tagging a new release
    continue-on-error: ${{ startsWith(github.ref, 'refs/tags/') }}
    steps:
      - name: Cargo CLI Install main
        run: cargo install --git https://github.com/bencherdev/bencher --branch main --locked bencher_cli
      - name: Run Bencher CLI
        run: bencher run --project bencher --token ${{ secrets.BENCHER_API_TOKEN }} --dry-run "bencher mock"

  cargo_devel:
    name: Cargo `devel`
    if: ${{ github.ref == 'refs/heads/devel' && inputs.check-cli }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-14, windows-2022]
    runs-on: ${{ matrix.os }}
    # This is expected to fail when tagging a new release
    continue-on-error: ${{ startsWith(github.ref, 'refs/tags/') }}
    steps:
      - name: Cargo CLI Install devel
        run: cargo install --git https://github.com/bencherdev/bencher --branch devel --locked bencher_cli
      - name: Run Bencher CLI
        run: bencher run --project bencher --token ${{ secrets.BENCHER_API_TOKEN }} --dry-run "bencher mock"

  build_cli:
    name: Build CLI
    if: ${{ inputs.build-cli }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - build: linux-x86-64
            os: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
          - build: linux-arm-64
            os: ubuntu-22.04
            target: aarch64-unknown-linux-gnu
          - build: macos-x86-64
            os: macos-14
            target: x86_64-apple-darwin
          - build: macos-arm-64
            os: macos-14
            target: aarch64-apple-darwin
          - build: windows-x86-64
            os: windows-2022
            target: x86_64-pc-windows-msvc
          - build: windows-arm-64
            os: windows-2022
            target: aarch64-pc-windows-msvc
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Set CLI version
        shell: bash
        run: |
          VERSION="${{ github.head_ref || github.ref_name }}"
          echo "CLI_VERSION=${VERSION//\//-}" >> $GITHUB_ENV
      - name: Install Rust target
        run: rustup target add ${{ matrix.target }}
      - uses: mlugg/setup-zig@v1
        if: startsWith(matrix.build, 'linux')
        with:
          version: ${{ inputs.zig-version }}
      - name: Install zigbuild
        if: startsWith(matrix.build, 'linux')
        run: cargo install --version ${{ inputs.zig-build-version }} --locked --force cargo-zigbuild
      - name: cargo zigbuild Linux CLI
        if: startsWith(matrix.build, 'linux')
        working-directory: ./services/cli
        run: cargo zigbuild --profile release-small --target ${{ matrix.target }}.${{ inputs.glibc-version }}
      - name: cargo build macOS CLI
        if: startsWith(matrix.build, 'macos')
        working-directory: ./services/cli
        run: cargo build --profile release-small --target ${{ matrix.target }}
      - name: cargo build Windows CLI
        if: startsWith(matrix.build, 'windows')
        working-directory: ./services/cli
        run: cargo build --profile release-small --target ${{ matrix.target }}
      - name: Rename Unix CLI bin
        if: (!startsWith(matrix.build, 'windows'))
        run: mv ./target/${{ matrix.target }}/release-small/${{ env.CLI_BIN_NAME }} ${{ env.CLI_BIN_NAME }}-${{ env.CLI_VERSION }}-${{ matrix.build }}
      - name: Rename Windows CLI bin
        if: startsWith(matrix.build, 'windows')
        run: mv ./target/${{ matrix.target }}/release-small/${{ env.CLI_BIN_NAME }}.exe ${{ env.CLI_BIN_NAME }}-${{ env.CLI_VERSION }}-${{ matrix.build }}.exe
      - name: Upload Unix CLI Artifact
        if: (!startsWith(matrix.build, 'windows'))
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.CLI_BIN_NAME }}-${{ env.CLI_VERSION }}-${{ matrix.build }}
          path: ${{ env.CLI_BIN_NAME }}-${{ env.CLI_VERSION }}-${{ matrix.build }}
          if-no-files-found: error
      - name: Upload Windows CLI Artifact
        if: startsWith(matrix.build, 'windows')
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.CLI_BIN_NAME }}-${{ env.CLI_VERSION }}-${{ matrix.build }}.exe
          path: ${{ env.CLI_BIN_NAME }}-${{ env.CLI_VERSION }}-${{ matrix.build }}.exe
          if-no-files-found: error

  package_cli:
    name: Package CLI
    if: ${{ inputs.build-cli }}
    needs: build_cli
    strategy:
      fail-fast: false
      matrix:
        include:
          - build: linux-x86-64
            os: ubuntu-22.04
            arch: amd64
          - build: linux-arm-64
            os: ubuntu-22.04
            arch: arm64
    runs-on: ${{ matrix.os }}
    env:
      CLI_DEB_DIR: deb
    steps:
      - uses: actions/checkout@v6
      - name: Set CLI version
        shell: bash
        run: |
          VERSION="${{ github.head_ref || github.ref_name }}"
          echo "CLI_VERSION=${VERSION//\//-}" >> $GITHUB_ENV
      - name: Download CLI Artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.CLI_BIN_NAME }}-${{ env.CLI_VERSION }}-${{ matrix.build }}
      - uses: rui314/setup-mold@v1
        with:
          mold-version: ${{ inputs.mold-version }}
      - name: Build .deb package
        run: cargo gen-pkg deb --dir ${{ env.CLI_DEB_DIR }} --arch ${{ matrix.arch }} ${{ env.CLI_BIN_NAME }}-${{ env.CLI_VERSION }}-${{ matrix.build }}
      - name: Test install .deb package
        if: matrix.build == 'linux-x86-64'
        run: sudo dpkg -i ${{ env.CLI_DEB_DIR }}/${{ env.CLI_BIN_NAME }}-${{ env.CLI_VERSION }}-${{ matrix.build }}.deb
      - name: Sanity test .deb package installation
        if: matrix.build == 'linux-x86-64'
        run: |
          bencher --version
          bencher mock
          man bencher
      - name: Upload .deb Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.CLI_BIN_NAME }}-${{ env.CLI_VERSION }}-${{ matrix.build }}.deb
          path: ${{ env.CLI_DEB_DIR }}/${{ env.CLI_BIN_NAME }}-${{ env.CLI_VERSION }}-${{ matrix.build }}.deb
          if-no-files-found: error
