name: Deploy Devel

on:
  workflow_call:
    inputs:
      mold-version:
        type: string
        required: true
      netlify-cli-version:
        type: string
        required: true
      deploy-dev:
        type: boolean
        required: true
      deploy-test:
        type: boolean
        required: true
      deploy-prod:
        type: boolean
        required: true
    secrets:
      FLY_API_TOKEN:
        required: true
      SENTRY_AUTH_TOKEN:
        required: true
      NETLIFY_SITE_ID:
        required: true
      NETLIFY_AUTH_TOKEN:
        required: true
      LYCHEE_USER_AGENT:
        required: true

concurrency:
  group: deploy
  cancel-in-progress: true

env:
  API_DOCKER_IMAGE: bencher-api
  FLY_REGISTRY: registry.fly.io
  WASM_BENCHER_VALID: bencher-valid-pkg

jobs:
  deploy_api_fly_dev:
    name: Deploy API to Fly.io Dev
    if: ${{ inputs.deploy-dev }}
    runs-on: ubuntu-22.04
    env:
      FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
    steps:
      - uses: actions/checkout@v6
      - name: Download API Docker Artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.API_DOCKER_IMAGE }}.tar.gz
      - name: Load & Tag Local Image
        run: |
          docker load < ${{ env.API_DOCKER_IMAGE }}.tar.gz
          docker tag ${{ env.API_DOCKER_IMAGE }} ${{ env.FLY_REGISTRY }}/bencher-api-dev
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - name: Deploy Local API to Fly.io
        working-directory: ./services/api
        run: flyctl deploy --local-only --config fly/fly.dev.toml --wait-timeout 300
      - uses: ./.github/actions/setup-rust
        with:
          cache-key: cli
          mold-version: ${{ inputs.mold-version }}
      - name: Run Smoke Test
        id: smoke-test
        env:
          RUST_BACKTRACE: full
        run: cargo test-api smoke dev

  deploy_console_netlify_dev:
    name: Deploy Console UI to Netlify Dev
    if: ${{ inputs.deploy-dev }}
    needs: deploy_api_fly_dev
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - name: Download `bencher_valid` Artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.WASM_BENCHER_VALID }}
          path: ./lib/bencher_valid/pkg
      - name: Build Console UI
        working-directory: ./services/console
        env:
          SENTRY_UPLOAD: true
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        run: npm run netlify
      - name: Install Netlify CLI
        run: npm install --save-dev netlify-cli@${{ inputs.netlify-cli-version }}
      - name: Deploy Console UI to Netlify Dev
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          DEPLOY_MESSAGE: "Deploy from devel"
        run: |
          npx netlify-cli \
          deploy \
          --alias devel \
          --message "$DEPLOY_MESSAGE" \
          --json \
          | tee netlify.json
      - uses: rui314/setup-mold@v1
        with:
          mold-version: ${{ inputs.mold-version }}
      - name: Run Netlify Dev Test
        env:
          RUST_BACKTRACE: full
        run: cargo test-netlify dev devel

  deploy_api_fly_test:
    name: Deploy API to Fly.io Test
    if: ${{ inputs.deploy-test }}
    runs-on: ubuntu-22.04
    env:
      FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
    steps:
      - uses: actions/checkout@v6
      - name: Download API Docker Artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.API_DOCKER_IMAGE }}.tar.gz
      - name: Load & Tag Litestream Image
        run: |
          docker load < ${{ env.API_DOCKER_IMAGE }}.tar.gz
          docker tag ${{ env.API_DOCKER_IMAGE }} ${{ env.FLY_REGISTRY }}/bencher-api-test
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - name: Deploy Litestream API to Fly.io Test
        working-directory: ./services/api
        run: flyctl deploy --local-only --config fly/fly.test.toml --wait-timeout 300
      - uses: rui314/setup-mold@v1
        with:
          mold-version: ${{ inputs.mold-version }}
      - name: Run Smoke Test
        env:
          RUST_BACKTRACE: full
        run: cargo test-api smoke test

  deploy_api_fly_prod:
    name: Deploy API to Fly.io Prod
    if: ${{ inputs.deploy-prod }}
    needs: deploy_api_fly_test
    runs-on: ubuntu-22.04
    env:
      FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Download API Docker Artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.API_DOCKER_IMAGE }}.tar.gz
      - name: Load & Tag Litestream Image
        run: |
          docker load < ${{ env.API_DOCKER_IMAGE }}.tar.gz
          docker tag ${{ env.API_DOCKER_IMAGE }} ${{ env.FLY_REGISTRY }}/bencher-api
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - name: Deploy API to Fly.io Prod
        working-directory: ./services/api
        run: flyctl deploy --local-only --config fly/fly.toml --wait-timeout 300
      - name: Rebase main on cloud
        run: |
          git config --global user.name "Bencher"
          git config --global user.email "git@bencher.dev"
          git fetch origin cloud
          git checkout cloud
          git pull
          git fetch origin main
          git checkout main
          git pull
          git rebase origin/cloud
          git push

  deploy_console_netlify_prod:
    name: Deploy Console UI to Netlify Prod
    if: ${{ inputs.deploy-prod }}
    needs: deploy_api_fly_prod
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - name: Download `bencher_valid` Artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.WASM_BENCHER_VALID }}
          path: ./lib/bencher_valid/pkg
      - name: Build Console UI
        working-directory: ./services/console
        env:
          SENTRY_UPLOAD: true
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        run: npm run netlify
      - name: Install Netlify CLI
        run: npm install --save-dev netlify-cli@${{ inputs.netlify-cli-version }}
      - name: Deploy Console UI to Netlify
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          DEPLOY_MESSAGE: "Deploy from cloud"
        run: |
          npx netlify-cli \
          deploy \
          --prod \
          --message "$DEPLOY_MESSAGE" \
          --json \
          | tee netlify.json
      - uses: rui314/setup-mold@v1
        with:
          mold-version: ${{ inputs.mold-version }}
      - name: Run Netlify Test
        env:
          RUST_BACKTRACE: full
        run: cargo test-netlify prod --user-agent "${{ secrets.LYCHEE_USER_AGENT }}" cloud
