---
import ConsoleLayout from "../../../layouts/ConsoleLayout.astro";

const title = "Organizations";
---

<ConsoleLayout title={title}>
  <div class="container">
    <h1>{title}</h1>
  </div>
</ConsoleLayout>
